Pods
ThreeDotsAnimation.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ThreeDotsAnimation.xcworkspace/xcuserdata/zzheads.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ThreeDotsAnimation.xcworkspace/contents.xcworkspacedata
Podfile.lock
ThreeDotsAnimation.xcodeproj/xcuserdata/zzheads.xcuserdatad/xcschemes/xcschememanagement.plist
